body{
    background-color: rgb(31, 27, 43);
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
/* 
.box{
    padding: 5em;
    background-color: rgb(101, 21, 158);
    width: 30%;
    height: 30%;
} */

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 4fr 4fr;    
    gap: 20px;
    width: 20vw;
    height: 20vh;
    
  }

  .grid-item {
    background-color: lightgray;
    font-size: 24px;
  }

.grid-item-small{
    background-color: lightgray;
    font-size: 24px;
    width: 5em;
    height: 5em;
}

.grid-item-large{
    background-color: lightgray;
    font-size: 24px;
    width: 10em;
    height: 5em;
}


  .item1 {
    background-color: lightcoral;
  }

  .item2 {
    background-color: lightblue;
  }

  .item3 {
    background-color: lightgreen;
  }

  .item4 {
    background-color: lightgoldenrodyellow;
  }
  
  .row1{
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .row2{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 2em;
  }

  .item2{
    justify-self: flex-end;
  }